## Activity 2: Answering the questions

### Input: 
Kagge Sqlite European Soccer Database 

### Output: 
R data frames persisted in csv files to facilitate easy Q&A

### Process: 
sqllite to R data frames to csv.

In [1]:
install.packages("RSQLite")

Warning message in install.packages("RSQLite"):
“installation of package ‘RSQLite’ had non-zero exit status”Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [2]:
library(RSQLite)
library(dplyr)
library(DBI)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

### Questions on player.csv

In [40]:
players <- read.csv("player.csv")

In [41]:
players

      X     player_api_id player_fifa_api_id.x player_name
1      1    505942        218353               Aaron Appindangoye
2      2    155782        189615               Aaron Cresswell
3      3    162549        186170               Aaron Doran
4      4     30572        140161               Aaron Galindo
5      5     23780         17725               Aaron Hughes
6      6     27316        158138               Aaron Hunt
7      7    564793        221280               Aaron Kuhl
8      8     30895        152747               Aaron Lennon
9      9    528212        206592               Aaron Lennox
10    10    101042        188621               Aaron Meijers
11    11     23889         47189               Aaron Mokoena
12    12    231592        194958               Aaron Mooy
13    13    163222        213568               Aaron Muirhead
14    14     40719        183853               Aaron Niguez
15    15     75489        186561               Aaron Ramsey
16    16    597948        226014               Aaron Splaine
17    17    161644        213569               Aaron Taylor-Sinclair
18    18     23499          2335               Aaron Wilbraham
19    19    120919        187939               Aatif Chahechouhe
20    20     46447        156626               Abasse Ba
21    21    167027        192274               Abdelaziz Barrada
22    22    245653        202425               Abdelfettah Boukhriss
23    23    128456        188145               Abdelhamid El Kaoutari
24    24     42664        178063               Abdelkader Ghezzal
25    25    425950        212934               Abdellah Zoubir
26    26     38423         52782               Abdelmajid Oulmers
27    27      3264         51868               Abdelmalek Cherrad
28    28    467485        209399               Abdelmalek El Hasnaoui
29    29    306735        210504               Abdelouahed Chakhsi
30    30     41659        149241               Abderrazak Jadid
⋮     ⋮     ⋮             ⋮                    ⋮
11038 11038 244155        212639               Zezinho
11039 11039  19696        158293               Zhi Zheng
11040 11040 290868        206209               Zhi-Gin Lam
11041 11041 169594        207780               Zie Diabate
11042 11042 244953        223263               Ziggy Gordon
11043 11043 200607        195862               Ziguy Badibanga
11044 11044 642618        228821               Zinedine Machach
11045 11045 277772        204227               Zinho Gano
11046 11046 246332        202751               Ziri Hammar
11047 11047 532766        222537               Zizo
11048 11048  27305         31667               Zlatan Bajramovic
11049 11049  35724         41236               Zlatan Ibrahimovic
11050 11050  12574        176103               Zlatan Ljubijankic
11051 11051  39494        141111               Zlatko Dedic
11052 11052  17233        188405               Zlatko Janjic
11053 11053  42860        173474               Zlatko Junuzovic
11054 11054  37128        158142               Zola Matumona
11055 11055  24737        137089               Zoltan Gera
11056 11056 107281        179712               Zoltan Stieber
11057 11057  39801        157283               Zoltan Szelesi
11058 11058 491794        219943               Zoran Josipovic
11059 11059  56929        188593               Zoran Rendulic
11060 11060  99031        105454               Zoran Tosic
11061 11061 192132        195840               Zouhaier Dhaouadhi
11062 11062 282473        205705               Zouhair Feddal
11063 11063  26357          2488               Zoumana Camara
11064 11064 111182        164680               Zsolt Laczko
11065 11065  36491        111191               Zsolt Low
11066 11066  35506         47058               Zurab Khizanishvili
11067 11067  39902        102359               Zvjezdan Misimovic
      birthday            overall_rating gk_total n_appearances n_leagues
1     1992-02-29 00:00:00 67              43        8           1
2     1989-12-15 00:00:00 74              51       75           1
3     1991-05-13 00:00:00 71              56      104           1
4     1982-05-08 00:00:00 75             111       10           1
5     1979-11-08 00:00:00 78             129      162           1
6     1986-09-04 00:00:00 79              60      158           1
7     1996-01-30 00:00:00 61              64        5           1
8     1987-04-16 00:00:00 84             146      181           1
9     1993-02-19 00:00:00 48             237        1           1
10    1987-10-28 00:00:00 69              54      167           1
11    1980-11-25 00:00:00 75             154       30           1
12    1990-09-15 00:00:00 75              54       10           1
13    1990-08-30 00:00:00 63              38       21           1
14    1989-04-26 00:00:00 71              61       27           2
15    1990-12-26 00:00:00 83              40      133           1
16    1996-10-13 00:00:00 55              55        2           1
17    1991-04-08 00:00:00 65              49       36           1
18    1979-10-21 00:00:00 67              54        3           1
19    1986-07-02 00:00:00 77              50        1           1
20    1976-07-12 00:00:00 68             111       16           1
21    1989-06-19 00:00:00 76              42       75           2
22    1986-10-22 00:00:00 64              51        1           1
23    1990-03-17 00:00:00 73              47      144           2
24    1984-12-05 00:00:00 73              40       90           2
25    1991-12-05 00:00:00 59              62        3           1
26    1978-09-12 00:00:00 70             129       32           1
27    1981-01-14 00:00:00 62              49        1           1
28    1994-02-09 00:00:00 63              52        5           1
29    1986-10-01 00:00:00 56              46       74           1
30    1983-06-01 00:00:00 71              59       29           2
⋮     ⋮                   ⋮              ⋮        ⋮             ⋮
11038 1992-09-23 00:00:00 69              51        2           1
11039 1980-08-20 00:00:00 73             154        9           1
11040 1991-06-04 00:00:00 68              58       15           1
11041 1989-03-02 00:00:00 65              59       15           2
11042 1993-04-23 00:00:00 64              51       64           1
11043 1991-11-26 00:00:00 64              50       22           2
11044 1996-01-05 00:00:00 67              52       10           1
11045 1993-10-13 00:00:00 67              53       30           1
11046 1992-07-25 00:00:00 65              60        4           1
11047 1996-01-10 00:00:00 63              43       28           1
11048 1979-08-12 00:00:00 78             127        7           1
11049 1981-10-03 00:00:00 90              59      235           3
11050 1983-12-15 00:00:00 72              52       65           1
11051 1984-10-05 00:00:00 71              60       15           1
11052 1986-05-07 00:00:00 66              59        1           1
11053 1987-09-26 00:00:00 79              58      127           1
11054 1981-11-26 00:00:00 68              50       43           1
11055 1979-04-22 00:00:00 77             147       71           1
11056 1988-10-16 00:00:00 73              44       35           1
11057 1981-11-22 00:00:00 70             135       11           1
11058 1995-08-25 00:00:00 60              46        1           1
11059 1984-05-22 00:00:00 66              57        6           1
11060 1987-04-28 00:00:00 80              56        9           1
11061 1988-01-01 00:00:00 64              54        1           1
11062 1989-01-01 00:00:00 75              57       47           2
11063 1979-04-03 00:00:00 77             125      102           1
11064 1986-12-18 00:00:00 68              35        7           1
11065 1979-04-29 00:00:00 68              45       15           1
11066 1981-10-06 00:00:00 78              89        3           1
11067 1982-06-05 00:00:00 83              50       64           1

#### Which are the top 10 players by overall rating?

In [42]:
rating <- head(players[order(-players$overall_rating),], 10)
rating_ans <- data.frame(rating$player_name, rating$overall_rating)
rating_ans

   rating.player_name rating.overall_rating
1  Lionel Messi       94
2  Cristiano Ronaldo  93
3  Gianluigi Buffon   93
4  Wayne Rooney       93
5  Gregory Coupet     92
6  Xavi Hernandez     92
7  Alessandro Nesta   91
8  Andres Iniesta     91
9  Fabio Cannavaro    91
10 Iker Casillas      91

#### Which are the top 10 goalkeepers by sum of gk attributes?

In [43]:
goalkeeper <- head(players[order(-players$gk_total),], 10)
goalkeeper_ans <- data.frame(goalkeeper$player_name, goalkeeper$gk_total)
goalkeeper_ans

   goalkeeper.player_name goalkeeper.gk_total
1  Gianluigi Buffon       449
2  Gregory Coupet         447
3  Petr Cech              445
4  Iker Casillas          442
5  Manuel Neuer           440
6  Julio Cesar            438
7  Sebastian Frey         437
8  Edwin van der Sar      436
9  David De Gea           429
10 Paul Robinson          426

#### Which are the top 10 players by number of appearances (with any team they played with)?

In [44]:
appearances <- head(players[order(-players$n_appearances),], 10)
appearances_ans <- data.frame(appearances$player_name, appearances$n_appearances)
appearances_ans

   appearances.player_name appearances.n_appearances
1  Steve Mandanda          300
2  Stephane Ruffier        294
3  Gorka Iraizoz Moreno    286
4  Samir Handanovic        286
5  Hugo Lloris             282
6  Tim Howard              282
7  Joe Hart                275
8  Cedric Carrasso         268
9  Daniel Congre           262
10 Moussa Sissoko          260

#### Which are the top 10 players by number of leagues they played in?

In [45]:
leagues <- head(players[order(-players$n_leagues),], 10)
leagues_ans <- data.frame(leagues$player_name, leagues$n_leagues)
leagues_ans

   leagues.player_name   leagues.n_leagues
1  Gelson Fernandes      6
2  Filip Djuricic        5
3  Ricky van Wolfswinkel 5
4  Aleksandar Tonev      4
5  Alfred Finnbogason    4
6  Almen Abdi            4
7  Aly Cissokho          4
8  Angel Di Maria        4
9  Bojan Krkic           4
10 Bryan Ruiz            4

### Questions on teams.csv

In [46]:
teams <- read.csv("team.csv")

In [47]:
teams

    X   team_api_id team_fifa_api_id.x team_long_name
1    1    9930         434             FC Aarau
2    2    8485          77             Aberdeen
3    3    8576         614             AC Ajaccio
4    4    8564          47             Milan
5    5   10215        1901             Académica de Coimbra
6    6   10217         650             ADO Den Haag
7    7    8593         245             Ajax
8    8    9865        1861             UD Almería
9    9    8635         229             RSC Anderlecht
10  10    8121        1530             Angers SCO
11  11    8322      111082             Arka Gdynia
12  12  108893      111989             AC Arles-Avignon
13  13    9912         159             DSC Arminia Bielefeld
14  14  158085      112513             FC Arouca
15  15    9825           1             Arsenal
16  16   10252           2             Aston Villa
17  17    8524          39             Atalanta
18  18    8315         448             Athletic Club de Bilbao
19  19    9906         240             Atlético Madrid
20  20    8406      100409             FC Augsburg
21  21    8583          57             AJ Auxerre
22  22   10229        1906             AZ
23  23    8634         241             FC Barcelona
24  24    9976        1848             Bari
25  25    9931         896             FC Basel
26  26    8178          32             Bayer 04 Leverkusen
27  27    9823          21             FC Bayern Munich
28  28    9993         675             Beerschot AC
29  29   10211        1897             SC Beira Mar
30  30    9807        1889             CF Os Belenenses
⋮   ⋮   ⋮           ⋮                  ⋮
270 270   8475      110913             Waasland-Beveren
271 271   9817        1795             Watford
272 272   8697          38             SV Werder Bremen
273 273   8659         109             West Bromwich Albion
274 274   8654          19             West Ham United
275 275  10001         681             KVC Westerlo
276 276   8024         301             Widzew Łódź
277 277   8528        1917             Wigan Athletic
278 278   8525        1907             Willem II
279 279  10265        1873             Wisła Kraków
280 280   8721         175             VfL Wolfsburg
281 281   8602         110             Wolverhampton Wanderers
282 282   7955         435             Neuchâtel Xamax
283 283   9868        1742             Xerez Club Deportivo
284 284  10192         900             BSC Young Boys
285 285   8021      110749             Zagłębie Lubin
286 286   8394         244             Real Zaragoza
287 287   8027      112512             Zawisza Bydgoszcz
288 288  10000       15005             SV Zulte-Waregem
289 289   7947          NA             FCV Dender EH
290 290   4049          NA             Tubize
291 291   6601          NA             FC Volendam
292 292 177361          NA             Termalica Bruk-Bet Nieciecza
293 293   7992          NA             Trofense
294 294  10213          NA             Amadora
295 295   9765          NA             Portimonense
296 296   4064          NA             Feirense
297 297   6367          NA             Uniao da Madeira
298 298 188163          NA             Tondela
299 299   7896          NA             Lugano
    team_short_name build_total chance_total defense_total goal_total
1   AAR             110         180          150           4
2   ABE             140         210          200           1
3   AJA             100         135          130           0
4   ACM              75         170          125           2
5   ACA              60         165           90           2
6   HAA              65         145           90           5
7   AJA              60         180           90           6
8   ALM             110         160          165           5
9   AND              85         180          190           5
10  ANG              80         145          115           2
11  ARK              75         150          205           1
12  ARL             115          95          115           2
13  BIE             105         165          135           3
14  ARO             174         160          109           2
15  ARS              96         110          120           2
16  AVL             129         185          130           4
17  ATA              75         120          115           2
18  BIL             105         160          135           4
19  AMA              94         185          159           4
20  AUG              90         175          145           2
21  AUX             100         135          115           4
22  ALK             100         130          110           2
23  BAR              72         175          170           6
24  BAR              60         135          115           2
25  BAS              85         165          180           3
26  LEV             100         210          200           4
27  BMU             105         205          175           4
28  BAC              70         135          210           2
29  B-M              94         157          155           3
30  BEL              60         160           90           0
⋮   ⋮               ⋮           ⋮            ⋮             ⋮
270 WAA             115         134          114           3
271 WAT             140         205          205           4
272 WBR             110         180          205           2
273 WBA             105         195          210           2
274 WHU              88         151          130           2
275 WES             105         140          210           3
276 WID             111         169          158           1
277 WIG             140         190          140           1
278 WII              65         135           90           3
279 WIS              75         160          205           2
280 WOL             110         195          155           2
281 WOL             140         210          210           2
282 XAM             105         190          150           1
283 XER              60         150          140           0
284 YB              110         185          170           3
285 ZAG             115         140          210           0
286 ZAR              60         155          115           2
287 ZAW             145         168          143           2
288 ZUL             125         150          200           0
289 DEN              NA          NA           NA           2
290 TUB              NA          NA           NA           3
291 VOL              NA          NA           NA           2
292 TBN              NA          NA           NA           1
293 TRO              NA          NA           NA           3
294 AMA              NA          NA           NA           1
295 POR              NA          NA           NA           3
296 FEI              NA          NA           NA           1
297 MAD              NA          NA           NA           4
298 TON              NA          NA           NA           2
299 LUG              NA          NA           NA           3

#### Which are the top 10 teams by sum of build up play attributes?

In [48]:
build <- head(teams[order(-teams$build_total),], 10)
build_ans <- data.frame(build$team_long_name, build$build_total)
build_ans

   build.team_long_name build.build_total
1  SV Darmstadt 98      179
2  FC Arouca            174
3  SD Eibar             165
4  KV Oostende          155
5  Boavista FC          153
6  Royal Excel Mouscron 150
7  Royal Excel Mouscron 150
8  FC Penafiel          147
9  Zawisza Bydgoszcz    145
10 Go Ahead Eagles      144

#### Which are the top 10 teams by sum of chance creation attributes?

In [49]:
chance <- head(teams[order(-teams$chance_total),], 10)
chance_ans <- data.frame(chance$team_long_name, chance$chance_total)
chance_ans

   chance.team_long_name chance.chance_total
1  Aberdeen              210
2  Bayer 04 Leverkusen   210
3  Birmingham City       210
4  Burnley               210
5  Cardiff City          210
6  Heart of Midlothian   210
7  Queens Park Rangers   210
8  Rangers               210
9  Reading               210
10 St. Mirren            210

#### Which are the top 10 teams by sum of defense attributes?

In [52]:
defense <- head(teams[order(-teams$defense_total),], 10)
defense_ans <- data.frame(defense$team_long_name, defense$defense_total)
defense_ans

   defense.team_long_name defense.defense_total
1  Beerschot AC           210
2  Birmingham City        210
3  Blackpool              210
4  Bournemouth            210
5  Stade Brestois 29      210
6  Cardiff City           210
7  Hannover 96            210
8  Hull City              210
9  Jagiellonia Białystok  210
10 1. FC Kaiserslautern   210

#### Which are the top 10 teams by number of scored goals?

In [53]:
goals <- head(teams[order(-teams$goal_total),], 10)
goals_ans <- data.frame(goals$team_long_name, goals$goal_total)
goals_ans

   goals.team_long_name goals.goal_total
1  FC Groningen         9
2  PSV                  9
3  Chelsea              7
4  KAS Eupen            7
5  KAA Gent             7
6  TSG 1899 Hoffenheim  7
7  CD Nacional          7
8  Ajax                 6
9  FC Barcelona         6
10 Blackpool            6